.h1 {
    text-align: center;
    color: rgb(26, 114, 26);
}
.h3 {
    text-align: center;
    color: rgb(231, 129, 56);
}
.number {
    text-align: center;
}
.bkr {
    text-align: center;
    color: rgb(201, 60, 119);
}
.grop {
    text-align: center;
}
.grup {
    text-align: center;
}
.instagram {
    text-align: center;
}
.facebook {
    text-align: center;
}
.takaful {
    text-align: center;
    color: coral;
}
.statistics{
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url(../img/ruya.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 150px;
}

.brooo {
    opacity: 0.7;
    background-color: rgb(136, 16, 56);
    height: 100%;
}
